# Lex & Yacc
lex.yy.c
y.output
y.tab.c
y.tab.h
y.debug
y.tmp.*
y.acts.*

# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
